/*
Author: Sandro Linux
License: GPL 3.0
Decription: A proper dark mode for Odysee!
*/
/* Sets the stand code to black */
body {
    background-color: black;
}
/* Makes the header black */
[dir] .header {
   background-color: black;
}
/* Makes the header black */
[dir] .main {
    background-color: black;
}
/* Makes widget for videos on homepages black */
[dir] .claim-preview--tile {
    background-color: black;
}
/* Makes widget for videos on homepages black */
[dir] .menu__list--header {
    background-color: black;
}
/* This makes the navigation buttons turn black */
[dir] .navigation-link {
    background-color: black;
}
/* Makes search input on homepage black */ 
[dir] .wunderbar__input {
    background-color: black;
}
/* Makes search input on channel page black */ 
[dir] .wunderbar__input--inline {
    background-color: black;
}
/* Makes search suggestions on homepage black */ 
[dir] .wunderbar__suggestions {
    background-color: black;
}
/* Makes settings and upload buttons black */ 
[dir] .header__navigation-item {
    background-color: black;
}
/* This makes the widgets on a Odysee video page turn black. This includes the description and title under the video; it also includes the comment section and the releated */
[dir] .card {
    background-color: black;
}

[dir] .draggable.content__info {
    background-color: black;
}
[dir] #content_description {
    background-color: black;
}
/* This makes the "comment as" button black */
[dir] #channel {
    background-color: black;
}
/* This makes navigation, background of the logo black, "your wallet" button black and the background of channel icons and titles on homepage */
[dir] .button {
    background-color: black;
}
/* This makes navigation, background of the logo black, "your wallet" button black and the background of channel icons and titles on homepage */
[dir] .tabs__list {
    background-color: black;
}
/* This makes the channel list button on the creator anayltics button*/
[dir] .channel__list-item {
    background-color: black;
}
/* Makes notication area black */ 
[dir] .notification__wrapper {
    background-color: black;
}
/* Makes filter button black */ 
[dir] #filter {
    background-color: black;
}
/* Makes the three dots on the channel page black*/
[dir] .menu__button.claim__menu-button--inline {
    background-color: black;
}
/* Makes the three dots menu on the channel page black*/
[dir] .menu__list {
    background-color: black;
}